body {
    background-color: #0a0a20;
    color: #e0e0e0;
    font-family: "Poppins", Arial, sans-serif;
    text-transform: none;
}

header p {
    text-align: center;
    font-size: 1.6rem;
    color: #4d9be6;
    border-bottom: 1px solid #e8b923;
    padding-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    color: #e8b923;
}



.team-member {
    background: rgba(11, 61, 145, 0.2);
    border: 1px dashed #e8b923;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}